.heading {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
}

.todo-form {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  gap: 0.5rem;
  flex: content;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.input-title {
  border: 1px solid black;
  height: 2rem;
  width: 15rem;
  padding: 1rem;
  border-radius: 5px;
}

.form-inputs {
  display: flex; /* Make it a flex container */
  flex-direction: row; /* Stack inputs horizontally */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 1rem; /* Space between inputs */
  border-radius: 5px;
}

.submit-button {
  border: 1px solid black;
  border-radius: 5px;
  height: 2rem;
  width: 15rem;
  background-color: greenyellow;
  cursor: pointer;
}

.todo-table-container {
  /* border: 1px solid #333; */
  width: full;
  margin: 1rem;
  box-sizing: border-box;
}

.todo-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.todo-table th,
.todo-table td {
  border: 1px solid #333;
  padding: 0.75rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  vertical-align: top;
  text-align: center;
}

.todo-table th {
  background-color: #f5f5f5;
  font-weight: 600;
}

.todo-table tr:nth-child(even) {
  background-color: #fafafa;
}

.action-button {
  width: 2rem;
  height: 2rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  cursor: pointer;
}

.done {
  background-color: greenyellow;
  width: 2rem;
  height: 2rem;
}

.postpone {
  background-color: orange;
  width: 2rem;
  height: 2rem;
}

.row-done {
  background-color: #d4edda; /* light green */
  color: #155724; /* darker text for contrast */
}

/* POSTPONE rows */
.row-postpone {
  background-color: #fff3cd; /* light yellow */
  color: #856404;
}

.editing {
  background-color: pink;
}

.input-edit {
  border: 1px solid black;
  height: 2rem;
  width: 10rem;
  padding: 1rem;
  border-radius: 5px;
}
