.todo-form {
  border: 1px solid black;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  gap: 0.5rem;
  flex: content;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.input-title {
  border: 1px solid black;
  height: 2rem;
  width: 15rem;
  padding: 1rem;
}

.form-inputs {
  display: flex; /* Make it a flex container */
  flex-direction: row; /* Stack inputs horizontally */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 1rem; /* Space between inputs */
}

.submit-button {
  border: 1px solid black;
  height: 2rem;
  width: 15rem;
  background-color: greenyellow;
  cursor: pointer;
}
