<div class="heading">My First Angular App</div>

<!-- Form for adding a todo -->
<div class="todo-form">
  <div class="form-inputs">
    <input [(ngModel)]="title" type="text" class="input-title" placeholder="Enter Title" />
    <input
      [(ngModel)]="description"
      type="text"
      class="input-title"
      placeholder="Enter Description"
    />
  </div>
  <button (click)="addTodo()" class="submit-button">Add Todo</button>
</div>

<div class="todo-table-container">
  <table class="todo-table">
    <thead>
      <tr>
        <!-- <th>ID</th> -->
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Created On</th>
        <th>Updated On</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let todo of todos()"
        [ngClass]="{
          'row-done': todo.status === TodoStatusEnum.DONE,
          'row-postpone': todo.status === TodoStatusEnum.POSTPONE,
        }"
      >
        <td>
          <ng-container *ngIf="editingTodoId !== todo.id; else editTitleTpl">
            {{ todo.title }}
          </ng-container>

          <!-- EDIT MODE -->
          <ng-template #editTitleTpl>
            <input [(ngModel)]="editTitle" class="input-edit" />
          </ng-template>
        </td>
        <td>
          <ng-container *ngIf="editingTodoId !== todo.id; else editDescTpl">
            {{ todo.description }}
          </ng-container>

          <ng-template #editDescTpl>
            <input [(ngModel)]="editDescription" class="input-edit" />
          </ng-template>
        </td>
        <td>{{ todo.status }}</td>
        <td>{{ todo.createdOn | date: 'dd-MM-yy HH:mm' }}</td>
        <td>{{ todo.updatedOn | date: 'dd-MM-yy HH:mm' }}</td>

        <td>
          <ng-container *ngIf="editingTodoId !== todo.id">
            <ng-container *ngIf="todo.status === TodoStatusEnum.PENDING">
              <button (click)="startEdit(todo)">
                <ng-icon name="heroPencilSquare" class="action-button editing" />
              </button>
              <button (click)="markToDoDone(todo.id)">
                <ng-icon name="heroCheckCircle" class="action-button done" />
              </button>
              <button (click)="markToDoPostpone(todo.id)">
                <ng-icon name="heroClock" class="action-button postpone" />
              </button>
              <button (click)="removeTodo(todo.id)">
                <ng-icon name="heroTrash" class="action-button delete" />
              </button>
            </ng-container>
            <ng-container *ngIf="todo.status === TodoStatusEnum.POSTPONE">
              <button (click)="startEdit(todo)">
                <ng-icon name="heroPencilSquare" class="action-button edit" />
              </button>
              <button (click)="markToDoDone(todo.id)">
                <ng-icon name="heroCheckCircle" class="action-button done" />
              </button>
              <button (click)="removeTodo(todo.id)">
                <ng-icon name="heroTrash" class="action-button delete" />
              </button>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="editingTodoId === todo.id">
            <button (click)="saveEdit(todo.id)" class="action-button done">💾</button>
            <button (click)="cancelEdit()">❌</button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div>
